registry=https://registry.npmjs.org/
@ifxglobal:registry=https://artifactory.intra.infineon.com/artifactory/api/npm/npm-tcp-ui-component-library-local/
@ramez:registry=https://artifactory.intra.infineon.com/artifactory/api/npm/npm-tcp-ui-component-library-local/
